@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Nunito+Sans:wght@200&display=swap');


.body{
    font-size: 18px;
    font-weight:  400, 600;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: 'Nunito Sans', serif;
    font-weight: bold;
}
h2 {
    color:  hsl(171, 64%, 34%);
    font-size: 2.5em;
    margin-bottom: 0;
}
h3 {
    color: hsl(171, 66%, 44%);
    font-size: 1.5em;
}
h4 {
    color: hsl(171, 66%, 44%);
}
p {
    font-family: 'Nunito Sans', serif;
    font-size: 1.1em;
}
.intro {
    height: 100vh;
}
.grid{
    display: grid;
}
.head{
    display: none;
}
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
    height: auto;
    /* max-width: 300px; */
}
.header{
    background-image: url("./images/bg-header-desktop.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-logo{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.heading{
    text-align: center;
    word-spacing: 0.2rem;
    font-size: 2.5em;
    margin-top:3rem;
    margin-bottom: 0;
    color: hsl(171, 64%, 34%);;
}
.words{
    text-align: center;
    margin-top: 3rem;
}
.desc {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}
.buttonss{
    text-align: center;
    margin-top: 5rem;
}
.btn-general {
    color: #fff;
    box-shadow: 3px 3px 4px hsl(201, 11%, 66%);
    margin-left: .4rem;
    margin-right: .4rem;
    border-radius: .3rem;
    padding: .65rem 1.5rem;
    font-family: monospace;
    transition: transform  500ms;
}
.btn-general:hover {
    filter: grayscale(.2);
}
.button{
    background-color:  hsl(233, 100%, 69%);
}
.btn{
    background-color:hsl(171, 66%, 44%);
}
.heading2{
   margin-top: 8rem;
   text-align: center;
}

.hero1{
    text-align: center;
}
.hero1 p{
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 45%;  
}

.snippet-container{
    grid-template-columns: 1.5fr 1fr;
    margin-top: 5rem;
}
.option{
    width: 300px;
}

.hero2{
    font-size: 12px;
    line-height: 12px;
}
.hero2 .heading3 {
    margin-bottom: 0;
    margin-top: 2rem;
}
.card {
    margin: 0 1rem;
    border-radius: .5rem;
    padding: 1rem .5rem;
    width: 27rem;
    background-color: rgba(239, 242, 250, 0.233);
}
.card p {
    font-size: .9em;
}
.snip-img{
    width: 410px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.access-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: block;
}
.icon-img{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
.charge2{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.main4{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 14rem;
} 
.images {
    text-align: center;
}
.main-img{
    width: 8%;
    padding: 0 5%;
}
.buttonss {
    margin-bottom: 8rem;
}
.footer-title{
    width: 30px;
    justify-content: right;
}
ul{
    text-decoration: none;
    list-style: none;
}
.footer{
    padding-top: 2rem;
}
.footer-container{
    grid-template-columns: 1fr 1.2fr;
}
.main6{
  margin-top: 14rem;
  text-align: center;
}
.main6 p{
    text-align: center;
    width: 45%;
}
 .footer{
    margin-top: 4rem;
   
} 
.footer-bg{
    background-color:whitesmoke;
    padding:0 20px;
    line-height: 30px;
} 
.footer_container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
} 
.footer-img{
   width: .9rem;
}
.footer-socials .pad{
    margin: 0 .3rem;
}
.footer-links{
    display: flex;
    column-gap: 8rem;
    margin-left: -200px;
    color: gray;
  
}
.footerlink{
    display: block;
    font-size: .9em;
    font-family: 'Nunito Sans', serif;
    color: #000;
}
.footerlink:hover {
    color:hsl(233, 100%, 69%);
}
.footer-socials{
    margin-top: 0;
}
.footer-title{
    margin-left: 5rem;
    margin-top: 2rem;
} 

@media screen and (max-width: 768px) {
    .heading {
        font-size: 2em;
    }
    .desc {
        width: 63%;
        font-size: .9em;
    }
    .option {
        width: 280px;
    }
    .buttonss {
        margin-top: 3rem;
    }
    h2 {
        font-size: 1.7em;
    }
    p {
        font-size: .9em;
    }
    .hero1 p {
        width: 55%;
    }
    .snippet-container {
        grid-template-columns: 1.3fr 1fr;
        column-gap: .7rem;
    }
    .snip-img {
        width: 330px;
    }
    .hero2 .heading3 {
        margin-top: 1rem;
    }
    .main6 p {
        width: 55%;
    }
    .footerlink {
        font-size: .7em;
    }
}
@media screen and (max-width: 576px) {
    .head{
        display: block;
        height: 5vh;
    }
    .header{
        background-image: none;
    }
    .heading {
        font-size: 1.7em;
    }
    .main4 {
        margin-bottom: 7rem;
    }
    .main6 {
        margin-top: 7rem;
    }
    .buttonss{
        margin-top: 4.25rem;
    }
    .hero1{
        margin-top: 300px;
    }
 
    .btn{
     display:block;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
 }
 .button{
     display: block;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
 } 
 .hero1 p{
     width: 60%;
 }
 .snippet-container{
     display: block;
     align-items: center;
 }
 .snip-img {
     width: 60%;
 }
 .hero2{
     text-align: center;
     margin-top: 4rem; ;
 }
 .option1{
     width: 50%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
 .option2{
     width: 40%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
 .option3{
     width: 40%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
 .desc{
     width: 70%;
     font-size: .8em;
 }
 h2 {
     font-size: 1.5em;
 }
 .heading2 {
     margin-top: 18rem;
 }
 p { 
     font-size: .8em;
 }
 h3 {
     font-size: 1.2em;
 }
 .option {
     margin: 0 auto;
     margin-top: .3rem;
     width: 40%;
     font-size: .9em;
 }
 .access-img {
     width: 60%;
 }
 .card {
     margin: 2rem auto;
     width: 15rem;
 }
 .main6 p {
     width: 65%;
 }
 .card p {
    font-size: .8em;
    width: inherit;
 }
 .charge2{
     display: block;
     text-align: center;
 }
 .desc4{
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }

 .desc5{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.desc6{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
     .footer-container{
        grid-template-columns: .2fr 1fr;
    }
    .footerlink{
        margin-right: 1rem;
        font-size:.7em;
    }
    .footer-links{
       margin-left: .3rem;
       column-gap: 0;
    }
    .footer-title{
        width: 30px;
        margin: auto;
    }
    .footer-socials{
        justify-self: center;
    }
     .footer_bg{
         padding: 2rem 0 3rem;
     }
 }
@media screen and (max-width: 375px) {
 .container{
     margin-left: auto;
     margin-right: auto;
 }
.header{
background-image: none;
display: block;

}
.head{
   display: block;
   height: 2vh;
}
.logo{
    width: 3rem;
}
.option {
    font-size: .8em;
}
.heading{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.desc{
   width: 265px;
}
.hero1{
margin-top: 18.25rem;
   
}
 .btn{
    display:block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
} 
.heading2{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.hero1 p{
    width: 270px;
}
.snip-img{
    margin-top: -50px;
}
.snippet-container{
   display: block;
}
.heading3{
    text-align: center;
}
.option1{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
   
}
.option2{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
   
}
.option3{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
   
}
.access-img{
    width: 300px;
}
.desc2{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.charge2{
    display: block;
 
    
}
.images{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main6 p{
    width:75%;
}

.footer_bg{
    padding: 2rem 0 3rem;
}
.footerlink {
    font-size: .6em;
}
}
